  <div class="container" style="padding-top:60px">
    <div class="row">
      <section class="main col-md-9">
        <article>
          <h2>About</h2>
          <p>My name is khushi. I am 19 years old from India. I am enrolled in seneca college for computer programming course. My aim is to become a successful software engineer. I love to read books and loves to play badminton. My mantra in life is "Positivity is the key to success".

Student ID: 138004205

Email ID: kkhushi1@myseneca.ca</p>
        </article>
      </section>
      <aside class="col-md-3">
        <h2>Coming Soon</h2>
        <p>Be connected for future updats!!</p>
      </aside>
    </div>
  </div>
